.expansion{
    margin: 5%;
    padding-right: 25%;
    padding-left: 25%;
}

#title{
    font-size: 20px;
    font-weight: bold;
}

#description{
    font-size: 15px;
    text-align: justify;
    margin-bottom: 5%;
}

button{
    color: black;
}

button:hover{
    color: red;
    background-color: rgba(107, 105, 105, 0.548)
}

button:visited{
    color: red
}